<h1 class="display-3">Aktuelle Job Angebote</h1>

  <div class="table-responsive">


<table class="table table-striped table-hover">
  <thead>
      <tr>
      <th role="button" scope="col" >#
      </th>
      <th role="button" scope="col" >Title
      </th>
      <th role="button" scope="col" >Description
      </th>
      <th role="button" scope="col" >Salary
      </th>
      <th role="button" scope="col" >Location
      </th>
      <th role="button" scope="col" >JobType
      </th>
      <th role="button" scope="col" class="text-center" >
          #
      </th>
      </tr>
  </thead>
  <tbody >
      <tr *ngFor="let job of jobs">
      <th scope="row" class="col-1">{{ job.jobID }}</th>
      <td scope="row" class="col-2"><input class="form-control" [(ngModel)]="job.title" (blur)="onBlur(job)" (input)="onInput(job)"/></td>
      <td scope="row" class="col-2"><input class="form-control" [(ngModel)]="job.description" (blur)="onBlur(job)" (input)="onInput(job)"/></td>
      <td scope="row" class="col-2"><input class="form-control" [(ngModel)]="job.salary" (blur)="onBlur(job)" (input)="onInput(job)"/></td>
      <td scope="row" class="col-2"><input class="form-control" [(ngModel)]="job.location" (blur)="onBlur(job)" (input)="onInput(job)"/></td>
      <td scope="row" class="col-2"><input class="form-control" [(ngModel)]="job.jobtype" (blur)="onBlur(job)" (input)="onInput(job)"/></td>
  
      <td>
        <button type="button" class="btn btn-danger"  type="submit" (click)="onDelete(job.jobID)">Delete</button>
      </td>
      </tr>
  </tbody>
</table>

